<p><%= nome_aplicacao %></p>


<h1>Seja bem-vindo!</h1>

<p>Data: <%= data_br(Date.today) %></p>


<p>Você está em Ambiente de <strong><%= ambiente_rails %></strong></p>

<p>Variável de Instência/Sessão = <strong><%= @nome %></strong></p>
<p>Meu Curso = <strong><%= @curso %></strong></p>
